@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
    --background-color-light: white;
    --background-color-dark: black;
    --text-color-light: black;
    --text-color-dark: white;
}

body {
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.light-mode {
    --background-color: var(--background-color-light);
    --text-color: var(--text-color-light);
}

body.dark-mode {
    --background-color: var(--background-color-dark);
    --text-color: var(--text-color-dark);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}


.AppBar {
    background-color: black;
    transition: background-color 0.3s ease;
}